{% extends 'base.html' %}
{% block content %}

<div style="margin: 8px auto; display: block; text-align:center;">

    <!---728x90--->
</div>
<section class="w3l-forml-main ">
    <div class="form-hnyv-sec py-sm-5 py-3">
        <!--form-stars-here-->
        <div class="form-wrapv">

            <h2>Get Register</h2>
            
            {{ form.email.errors }}
            {{ form.non_field_errors }}

            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <div class="form-sub-w3">
                    {{form.first_name}}
                    <div class="icon-w3">
                        <span class="fas fa-user" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-sub-w3">
                    {{form.last_name}}
                    <div class="icon-w3">
                        <span class="fas fa-user" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-sub-w3">
                    {{form.phone_number}}
                    <div class="icon-w3">
                        <span class="fas fa-user" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-sub-w3">
                    {{form.email}}
                    <div class="icon-w3">
                        <span class="fas fa-user" aria-hidden="true"></span>
                    </div>
                </div>
               
                <div class="form-sub-w3">
                    {{form.password}}
                    <div class="icon-w3">
                        <span class="fas fa-unlock-alt" aria-hidden="true"></span>
                    </div>
                </div>
               
                <div class="form-sub-w3">
                    {{form.confirm_password}}
                    <div class="icon-w3">
                        <span class="fas fa-unlock-alt" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-sub-content">
                    <p class="forgot-w3ls">Forgot Password?<a class href="#"> Click here</a></p>
                    <p class="forgot-w3ls1">New User? <a class href="{% url 'login' %}">Login here</a></p>
                </div>
                <div class="submit-button text-center">
                    <button class="btn btn-style btn-primary">Register</button>

                </div>
            </form>

        </div>
        <!--//form-ends-here-->
    </div>
    <!-- //coming -->
</section>
<div style="margin: 8px auto; display: block; text-align:center;">

    <!---728x90--->

</div>

{% endblock %}
